{% extends "base.html" %} {% block title %}Dashboard - ToyCraft Tales{% endblock
%} {% block content %}
<div class="row">
  <div class="col-12">
    <h1 class="mb-4">📊 ToyCraft Tales Dashboard</h1>
    <p class="lead">
      Comprehensive overview of toy manufacturing data across the United States
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>ToyCraft Tales Tableau's Vision into Toy Manufacturers Data</h3>
      </div>
      <div class="card-body">
        <div
          class="tableauPlaceholder"
          id="viz1750331765215"
          style="position: relative"
        >
          <noscript>
            <a href="#">
              <img
                alt="ToyCraft Tales Tableau&#39;s Vision into Toy Manufacturers Data "
                src="https://public.tableau.com/static/images/To/ToyCraftTales-DashBoard/ToyCraft/1_rss.png"
                style="border: none"
              />
            </a>
          </noscript>

          <object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="ToyCraftTales-DashBoard/ToyCraft" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https://public.tableau.com/static/images/To/ToyCraftTales-DashBoard/ToyCraft/1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <!-- Dark mode and slight purple effects in page -->
        <style>
          .tableauPlaceholder {
            background-color: #2c2c2c;
            color: #ffffff;
          }
          .tableauPlaceholder a {
            color: #9b59b6;
          }
          .tableauPlaceholder img {
            filter: brightness(0.8);
          }
          .tableauPlaceholder img:hover {
            filter: brightness(1);
          }
        </style>
        <!-- End of dark mode and slight purple effects -->
        <script type="text/javascript">
          var divElement = document.getElementById("viz1750331765215");
          var vizElement = divElement.getElementsByTagName("object")[0];
          if (divElement.offsetWidth > 800) {
            vizElement.style.width = "1357px";
            vizElement.style.height = "938px";
          } else if (divElement.offsetWidth > 500) {
            vizElement.style.width = "1357px";
            vizElement.style.height = "938px";
          } else {
            vizElement.style.width = "100%";
            vizElement.style.height = "2027px";
          }
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>
  </div>
</div>

{% endblock %}
